.idea/

__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/
env/
.env/
*.env


*.mat

.DS_Store
Thumbs.db


previews/

.pytest_cache/
.ipynb_checkpoints/

/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml